<h1 style="margin-bottom: 20px;">About Page</h1>
<br />

<h4 style="color: rgb(214, 25, 192);">This is CA02 Assignment</h4>
<br />
<p>
  It is a web app using Express/Mongoose/EJS and the OpenAI API
</p>

<br />
<p>
  This assignment asks to create a web app using Express/Mongoose/EJS and
  the OpenAI API which uses prompt engineering to generate useful responses to specific user queries.
</p>

<br />
<p>
  The Express/Mongodb/EJS framework is a very powerful (and popular) approach to writing web apps. The goal of this assignment is to have you
  use the skills you learned in PA04 to create something interesting. Ideally, you should use chatGPT or some similar API.  Also, you need to add authentication
  so the user can login with username/password and store information about their API requests in the database.  
</p>
