<h1>CA02 Assignment</h1>

<br>
<br>
<p class="my-text">
  Here is a route to the app which invokes chatGPT to do something interesting.
</p>

<br>
<p class="my-text">
  You can click the name link below to generate responses based on the prompt.</p>
</p>

<br>

<ul>
  <li><a href="/gpt?prompt=tingwei"><h4>Tingwei Pu</h4></a>Enter a famous person that you would like to know more about.</li>
</ul>


<style>
  .my-text {
    color: rgb(214, 25, 192);
  }
</style>
