<h1> Location Finder </h1>
<form method="post" action="/location">
  Enter a zipcode:<input type="text" name="zipcode"><br>
  <input type="submit">
</form>

<h1>JSON format</h1>
<form method="post" action="/location.json">
  Enter a zipcode:<input type="text" name="zipcode"><br>
  <input type="submit">
</form>