
<br>
<h4 style="color: rgb(214, 25, 192);">Tingwei Pu</h4>


<p style="margin-top: 20px;">
    Hi, my name is Tingwei Pu.
    <br><br>
    I am a senior majoring in Economics and CS.
</p>
<style>
  h4 {
    background-color: #00B7FF;
    padding: 5px;
    display: inline-block;
  }
</style>



